{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
  <h1>Ouh le vilain test</h1>
  <p>Ce genre de site de test. Ce genre de site de test. Ce genre de site de test. Ce genre de site de test. Ce genre de site de test.</p>
</div>

<div class="container">
  <p>Ce genre de site de test. Ce genre de site de test. Ce genre de site de test. Ce genre de site de test. Ce genre de site de test.</p>
  <p>Ce genre de site de test. Ce genre de site de test. Ce genre de site de test. Ce genre de site de test. Ce genre de site de test.</p>
</div>
{% endblock %}
